.container .buy-page{
    width: 100%;
    background: #000;
}

.main-payment-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
}
.main-payment-page .form-payment{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-payment-page .form-payment form{
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 1rem;
    animation: payment 1s infinite ease;
}
.main-payment-page .form-payment form input{
    width: 200px;
    border-radius: .5rem;
}

@keyframes payment {
    0%,100%{transform: scale(1.1);}
    50%{transform: scale(1);}
}
.main-payment-page .form-payment form:hover{
    transform: scale(1);
}