*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    max-width: 100%;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    max-width: 100%;
}

header{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
header .menuBar{
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .menuBar .menu__box{
    display: flex;
    align-items: center;
}

header .menuBar .menu__box h2{
    cursor: default;
}

header .menuBar .menu__box ul{
    margin-left: 30px;
    display: flex;
}
header .menuBar .menu__box ul li{
    margin: 0 10px;
}
header .menuBar .menu__box ul li a:hover{
    text-decoration: underline;
}

header .menuBar .card__order{
    padding: 0 10px;
    display: flex;
}
header .menuBar .card__order #AddCount{
    color: rgb(255, 0, 0);
    padding: 2px;
}
header .menuBar .card__order button{
    align-items: center;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    border: solid 1px #ffffff
}
header .menuBar .card__order button:hover > #AddCount{
    color: rgb(21, 255, 0);
}
header .menuBar .card__order button:hover{
    color: #fff;
    background-color: tomato;
    border: solid 1px #000
}

/* ============================ */

section .bgTop{
    position: relative;
    width: 100%;
    height: 350px;
    /* background-color: #141205; */
    background: url("https://i.hizliresim.com/PMn1yd.gif") #000;
}
section .bgTop .textBox{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section .bgTop .textBox h2{
    color: #fff;
    font-size: 2.5em;
}
section .bgTop .textBox p{
    color: #adadad;
    font-size: 1.5em;
}

/* ============================ */

.wrap__card {
    margin: 8em auto;
    width: 100%;
    max-width: 80%;
}
.wrap__card .wrapBox{
    width: 100%;
}
.wrap__card .wrapBox ul{
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(4, 1fr);
}
.wrap__card .wrapBox ul li{
    overflow: hidden;
    border-radius: .5rem;
    border: solid 2px #323523;
    transition: all .2s ease;
}
.wrap__card .wrapBox ul li:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px 1px rgba(165, 165, 165, 0.75);
}
.wrap__card .wrapBox ul li .card__header{
    width: 100%;
    height: 200px;
    background-color: #adadad;
}
.wrap__card .wrapBox ul li .card__header img{
    width: 100%;
    height: 100%;
}
.wrap__card .wrapBox ul li .card__title{
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}
.wrap__card .wrapBox ul li .card__button{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.wrap__card .wrapBox ul li .card__button button{
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 5px;
    border: solid 1px #ffffff
}
.wrap__card .wrapBox ul li .card__button button:hover{
    color: #fff;
    background-color: tomato;
    border: solid 1px #000
}




